/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300&family=Tangerine:wght@400;700&display=swap');


/* Color Palette */
/* HEX colors 
--cape-honey: #fde3a8;
--equator: #e2a768;
--danube: #598fd0;
--copper: #c07637;
--cloud-burst: #1c2f47;
--cornflower: #80aee3;
--astral: #3071ae;
--raw-sienna: #d6903b;
--blumine: #1a5573; */

/*CSS Varibles*/
:root {
    --font-primary: 'Tangerine', cursive;
    --font-secondary: 'Funnel Display', sans-serif;
    --color-primary: #00465b;
    --color-secondary: #0e6272;
    --color-accent: #1a5573;
    --color-tertiary: aliceblue;

}
/* Global Styles */
body {
    font-family: var(--font-secondary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    color: var(--color-tertiary);
}
p {
    font-family: var(--font-secondary);
    color: var(--color-secondary);
}


/* Intro Section */

/*Background Image*/
.hero {
   height: 100vh;
  background-image: url("images/IMG_1670.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*logo styling*/
.logo {
  width: 250px;
  padding-bottom: 0rem;
  padding-left: 5rem;
  height: auto;
  display: block;
  gap: 1rem;
}

#hero-title {
  font-size: 5rem;
  color: var(--color-primary);
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*Hero text*/
.top-center-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  font-size: 1rem;
  gap: 0.5rem;
  padding-top: 5rem;
}

.top-center-text h1 {
  font-size: 5rem;
  color: var(--color-primary);
  margin: 0;
}



/*Buttons styling*/

#hero-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 26rem;
  padding-left: 20px;
}

#hero-buttons button {
  min-width: 240px;
  font-family: var(--font-primary);
  color: aliceblue;
  font-size: 2.5rem;
  background-color: var(--color-secondary);
  opacity: 80%;
  border-radius: 999px;
  /*enlarge by 10% when hovered*/
    transition: transform 0.2s ease;
}

#hero-buttons button:hover {
  transform: scale(1.1); /* 10% bigger */
}

@media (min-width: 1024px) {
  .intro-text{
    font-size: 1.5em;
  }
}
@media (max-width: 1024px) {

  /* Center the logo */
  .logo {
    padding-left: 0;
    margin: 0 auto;
    display: block;
  }

  /* Push title down */
  .top-center-text {
    padding-top: 10rem; /* original 5rem + extra 5rem */
   
  }
  #hero-title {
    color: var(--color-tertiary)


  }
  /* Push buttons down */
  #hero-buttons {
    flex-direction: column;
    padding-bottom: 4rem;
    gap: 10px; 
  }
  .intro-text{
    color: var(--color-tertiary)
  }
}
@media (max-width: 768px){
  #hero-title{
    font-size: 3rem;
  }
}

/* =========================
   Navbar styling
========================= */

.navbar {
  width: 100%;
  background-color: var(--color-tertiary); /* aliceblue */
  position: relative;
  z-index: 10;
}

/* Inner container */
.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 2rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* Navbar Logo */
.navbar-logo img {
  height: 80px;
  margin-right: auto;
}
/* Brand / title */
.navbar-brand {
  font-family: var(--font-primary);
  font-size: 10rem;
  color: var(--color-primary);
  white-space: nowrap;
}

/* Nav list */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

/* Links */
.nav-links a {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 999px;

  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover */
.nav-links a:hover {
  background-color: var(--color-accent);
  color: var(--color-tertiary);
}

