/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300&family=Tangerine:wght@400;700&display=swap');


/* Color Palette */
/* HEX colors 
--cape-honey: #fde3a8;
--equator: #e2a768;
--danube: #598fd0;
--copper: #c07637;
--cloud-burst: #1c2f47;
--cornflower: #80aee3;
--astral: #3071ae;
--raw-sienna: #d6903b;
--blumine: #1a5573; */

/*CSS Varibles*/
:root {
    --font-primary: 'Tangerine', cursive;
    --font-secondary: 'Funnel Display', sans-serif;
    --color-primary: #00465b;
    --color-secondary: #0e6272;
    --color-accent: #1a5573;
    --color-tertiary: #fde3a8;

}
/* Global Styles */
body {
    font-family: var(--font-secondary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    color: var(--color-primary);
}
p {
    font-family: var(--font-secondary);
    color: var(--color-secondary);
}


/* Intro Section */

/*Background Image*/
.hero {
   height: 100vh;
  background-image: url("images/IMG_1670.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*Hero text*/
.intro {
  text-align: center;
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
}
#hero-title {
    font-size: 5rem;
    color: var(--color-primary);
    margin-bottom: 0;
}

/*Buttons styling*/
#hero-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 26rem;
  padding-left: 20px;
}

#hero-buttons button {
  min-width: 240px;
  font-family: var(--font-primary);
  color: aliceblue;
  font-size: 2.5rem;
  background-color: var(--color-secondary);
  opacity: 80%;
  border-radius: 999px;
  /*enlarge by 10% when hovered*/
    transition: transform 0.2s ease;
}

#hero-buttons button:hover {
  transform: scale(1.1); /* 10% bigger */
}

/*Aligns buttons on smaller screens*/
@media (max-width: 600px) {
  #hero-buttons {
    flex-direction: column;
  }
}

